<div class="application-content">
  {{outlet}}
</div>

<div class="application-footer">

  <nav class="application-footer__nav">
    <ul>
      <li></li>
    </ul>
  </nav>

  <div class="application-footer__subtext">
    Made by Brandon Drake (2017)
  </div>

</div>

