.calendar {
  height: 90vh;
  margin: 20px;
  border: 2px solid;
  border-radius: 5px;
  box-shadow: 5px 5px 60px 1px;
  background-color: $white;

  &-hero {
    background: darkred;
    border-radius: 3px 3px 0;
    border-bottom: 1px solid;
    height: 30vh;
  }

  &-body {
    padding: 5px;

    &__row {
      display: flex;
      border-top: 1px solid $black;

      &:last-child {
        border-bottom: 1px solid $black;
      }

      &--item {
        flex: 1;
        height: 65px;
        border-left: 1px solid $black;
        padding: 2px;

        &-header {
          height: 25px;
          overflow: hidden;
          text-align: center;
        }

        &:last-child {
          border-right: 1px solid $black;
        }

        &.isActive {
          color: white;
          background-color: $color-alt;
        }

        &.isPast {
          color: white;
          background-color: $color-alt-lighter;
        }

        &.isMuted {
          color: $color-muted;
          background-color: $color-secondary-lighter;
        }
      }
    }
  }

  &-nav {
    display: flex;

    &__content {
      flex: 1;
      text-align: center;

    }
  }
}

