{{#calendar-view month=model
                 events=events
                 as |calendar|
}}
  {{#calendar.hero}}
    <h1>Super Awesome Events</h1>
  {{/calendar.hero}}

  {{#calendar.nav as |nav|}}
    {{#nav.content classNames="decrease-month"
                   role="button"
                   onClick=(action "changeMonth" false)
    }}
      &lt;
    {{/nav.content}}

    {{#nav.content}}
      {{moment-format model 'MMM YYYY'}}
    {{/nav.content}}

    {{#nav.content classNames="increase-month"
                   role="button"
                   onClick=(action "changeMonth")
    }}
      &gt;
    {{/nav.content}}
  {{/calendar.nav}}

  {{calendar.body model=model
                  events=events
  }}

{{/calendar-view}}
